{% extends "base.html" %}

{% block title %}JSGames{% endblock %}

{% block content %}
<h1>Welcome to JSGames</h1>
<p>Play a range of fun JavaScript games from the comfort of your own browser!</p>
<div class="container my-4">
  <div class="row g-4">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <img src="/static/img/spelling_bee.png" class="card-img-top" alt="Spelling Bee">
        <div class="card-body">
          <h5 class="card-title">Spelling Bee</h5>
          <p class="card-text">How many words can you make from a set of 7 letters?</p>
          <a href="/play/spelling-bee" class="btn btn-primary">Play</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <img src="/static/img/wordle.png" class="card-img-top" alt="Wordle">
        <div class="card-body">
          <h5 class="card-title">Wordle</h5>
          <p class="card-text">Guess a 5 letter word within 6 tries.</p>
          <a href="/play/wordle" class="btn btn-primary">Play</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Game 3">
        <div class="card-body">
          <h5 class="card-title">Game 3</h5>
          <p class="card-text">Description for Game 3.</p>
          <a href="#" class="btn btn-primary">Play</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Game 4">
        <div class="card-body">
          <h5 class="card-title">Game 4</h5>
          <p class="card-text">Description for Game 4.</p>
          <a href="#" class="btn btn-primary">Play</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}