{% extends "base.html" %}

{% block title %}JSGames{% endblock %}

{% block content %}
<div class="arcade-home text-center py-4">
  <h1 class="display-3 fw-bold mb-3">🕹️ Welcome to <span style="color:#00fff7;text-shadow:0 0 8px #ff00c8;">JSGames</span> 🕹️</h1>
  <p class="lead mb-4">Play a range of fun JavaScript games from the comfort of your own browser!</p>
</div>
<div class="container my-4 arcade-home-cards">
  <div class="row g-4">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <img src="/static/img/spelling_bee.png" class="card-img-top" alt="Spelling Bee">
        <div class="card-body">
          <h5 class="card-title">Spelling Bee</h5>
          <p class="card-text">How many words can you make from a set of 7 letters?</p>
          <a href="/play/spelling-bee" class="btn btn-primary">Play</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <img src="/static/img/wordle.png" class="card-img-top" alt="Wordle">
        <div class="card-body">
          <h5 class="card-title">Wordle</h5>
          <p class="card-text">Guess a 5 letter word within 6 tries.</p>
          <a href="/play/wordle" class="btn btn-primary">Play</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <img src="/static/img/sudoku.png" class="card-img-top" alt="Sudoku">
        <div class="card-body">
          <h5 class="card-title">Sudoku</h5>
          <p class="card-text">Fill a 9x9 grid so that each row, column, and 3x3 square contains all the digits from 1 to 9.</p>
          <a href="/play/sudoku" class="btn btn-primary">Play</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <img src="/static/img/2048.png" class="card-img-top" alt="2048">
        <div class="card-body">
          <h5 class="card-title">2048</h5>
          <p class="card-text">Slide tiles to combine them and reach 2048!</p>
          <a href="/play/2048" class="btn btn-primary">Play</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
      <img src="/static/img/minesweeper.png" class="card-img-top" alt="Minesweeper">
      <div class="card-body">
        <h5 class="card-title">Minesweeper</h5>
        <p class="card-text">Clear the minefield without detonating any mines!</p>
        <a href="/play/minesweeper" class="btn btn-primary">Play</a>
      </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
      <img src="/static/img/snake.png" class="card-img-top" alt="Snake">
      <div class="card-body">
        <h5 class="card-title">Snake</h5>
        <p class="card-text">Eat food, grow longer, and avoid crashing into yourself!</p>
        <a href="/play/snake" class="btn btn-primary">Play</a>
      </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <img src="/static/img/connect_4.png" class="card-img-top" alt="Connect 4">
        <div class="card-body">
          <h5 class="card-title">Connect 4</h5>
          <p class="card-text">Drop discs into the grid and be the first to connect four in a row!</p>
          <a href="/play/connect-4" class="btn btn-primary">Play</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}